body{
    background-color:goldenrod;
}
#row1{
    background-color:black;
}
i{
    padding: 20px 0px;
    color: white;
}
h1{
    text-align: center;
    padding: 30px 0px;
    color: white;
}
.box-part{
    background-color: rgba(53,53,53,255);
    margin: 20px 0px;
    border: solid black;
}
#result{
    background-color:white;
    padding: 30px 30px
}
